.product-card {
    border: 1px solid #ddd;
    border-radius: 2px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    width: 300px;
    margin: 16px;
    position: relative;
}

.product-card:hover {
    transform: translateY(-5px);
}

.product-image {
    width: 300px !important;
    height: 180px !important;
}

.product-info {
    padding: 16px;
}

.product-name {
    font-size: 1.2rem;
    font-weight: 300;
    margin: 0 0 10px 0;
}

.product-description {
    font-size: 0.8rem;
    color: #666;
    text-align: left;
}

.product-price {
    font-size: 1.2em;
    font-weight: bold;
    margin: 20px 0 0 0;
    text-align: left;
    color: #404040;
    font-weight: 400;
}

.product-offer {
    color: red;
}

.product-exclusive {
    color: blue;
    font-weight: bold;
}

.product-size {
    font-size: 0.9em;
    color: #777;
    text-align: left;
    font-size: 11px;
    color: #9a9a9a;
}

.productName {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-tax {
    font-size: 10px;
    color: #9a9a9a;
}

.product-image {
    max-width: 100%;
    height: auto;
    display: block;
}

.image-container {
    position: relative;
}

.label-container {
    display: flex;
    position: absolute;
    top: 10px;
    left: 10px;
}

.special-offer,
.exclusive-offer {
    background-color: rgb(236, 236, 84);
    color: black;
    padding: 5px 10px;
    border-radius: 4px;
    font-weight: bold;
    font-size: 0.6rem;
    border-radius: 11px 0 11px 0;
    white-space: nowrap;
    margin-right: 10px;
}

.special-offer {
    background-color: rgb(236, 236, 84);
    color: black;
}

.exclusive-offer {
    background-color: red;
    color: white;
}

.box-image {
    position: absolute;
    top: 110px;
    right: 10px;
    width: 80px;
    height: 100px;
    border-radius: 50%;
}

.product-btm {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-view {
    color: green;
    font-weight: 400;
    font-size: 15px;
    line-height: 8px;
    text-align: left;
    align-self: flex-end;
}

.fav-icon {
    color: green;
    /* background-color: #ddd; */
}